/* styles.css */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  /* 폰트를 사용할 요소에 스타일 적용 */
  h1, h2, h3, h4, h5, h6, article, button, ul, li {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
  }
  